#wrapper{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
#subheader{
    width: 100%;
    height: 30px;
    background: #0a930a;
    color: #ffff;
    margin-top: -15px; 
}
#subheader p{
    float: left;
    margin-top: 7px;
}
#subheader a{
    color: #ffff;
    float: right;
    text-decoration: none;
    line-height: 30px;
    margin-left: 30px;
}
/* logo styling*/
#main-header{
    width: 100%;
    height: 100px;
    background: #1aaa1a;
    float: left;
    margin-top: -15px;
}
#logo{
    width: 250px;
    margin-top: 10px;
    float: left;
}
#ist{
    color: black;
    font-size: 45px;
    font-weight: bold;
    margin-left: 15px;
    font-family: cursive;
    
}
#list{
    color: black;
    font-size: 25px;
    font-weight: bold;
    font-family: cursive;
}
/*search styling*/
#search{
    width: 650px;
    float: left;
    padding: 20px;
    margin-left: 50px;
}
.search-area{
    width: 650px;
    height: 50px;
    background: #ffff;
    border-radius: 10px;
    float: left;
    padding-left: 15px;
}
.search-btn{
    width: 100px;
    height: 55px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background: brown;
    margin-left: -100px;
}
/* user-menu styling*/
#user-menu{
    list-style: none;
    text-align: center;
}
/*list styling*/
#user-menu li{
    font-size: 20px;
    
}
#user-menu li a{
    text-decoration: none;
    color: #fff;
    border-left: 1px solid black;
    float: right;
    width: 100px;
    margin-top: 30px;
}
#user-menu li:hover{
    transition: all .5s ease;
    font-size: 30px;
}
/* navigationa bar*/
#navigation{
    width: 100%;
    height: 35%;
    float: left;
    background: #1aaa1a;
    box-shadow: 10px 14px 50px 2px #1aaa1a;
}
nav{
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}
nav a{
    margin-left: 35px;
    color: #fff;
    text-decoration: none;
}
nav a:hover{
    transition: all .5s ease;
    color: black;
}
/*----slider---*/
#slider{
    width: 100%;
    float: left;
    margin-top: 30px;
}
#slider::before{
    content: '';
    display: table-cell;
}
#slider::after{
    content: '';
    display: table;
    clear: both;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
    bottom: 20px;
    
}
.bx-wrapper .bx-pager.bx-default-pager a{
    width: 15px;
    height: 15px;
    border-radius: 30px;
}
/* Category */
#heading-block{
    width: 100%;
    height: auto;
    float: left;
    color: #1aaa1a;
    font-size: 22px;
}
#heading-block h2{
    line-height: 35px;
    border-left: 20px solid #1aaa1a;
    padding-left: 10px;
}
/*--- categories box----*/
.catbox{
    width: 200px;
    height: 250px;
    float: left;
    overflow: hidden;
    position: relative;
    margin: 0px 20px 30px 0px;
}
.catbox span{
    display: block;
    bottom: 30px;
    height: 35px;
    line-height: 35px;
    position: absolute;
    z-index: 999;
    color: #fff;
    text-align: center;
    width: 100%;
    background: rgba(0,0,0,0.6);
}
.catbox:hover span{
    color: #1aaa1a;
}
.catbox img{
    max-width: 100%;
    transition: all .5s ease;
}
.catbox:hover img{
    transform: scale(1.3,1.3);
    transition: all .5s ease;
}
/* Product styling */
.prod-box{
    width: 235px;
    height: 300px;
    overflow: hidden;
    margin: 0px, 18px, 30px, 20px;
    position: relative;
    float: left;
}
.prod-box >img{
    max-width: 100%;
}
.prod-transparency{
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
    transition: all .5s ease;
}
.prod-box:hover .prod-transparency{
    opacity: 1;
    transition: all .5s ease;
}
.prod-feature{
    text-align: center;
    margin-top: -150px;
    transition: all .5s ease;
}
.prod-feature p{
    color: #1aaa1a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.prod-box:hover .prod-feature{
    margin-top: 150px;
    transition: all .5s ease;
}
/**footer-styling**/
.footer{
    width: 100%;
    height: 300px;
    background: #f5f5f5;
    float: left;
}
.offer{
    width: 400px;
    float: left;
    margin-right: 10px;
}
.offer img{
    width: 100%;
}
#footer{
    width: 100%;
    height: auto;
    background: #1aaa1a;
    float: left;
}
.footer-sub{
    width: 25%;
    float: left;
}
.footer-sub-2{
    width: 20%;
    float: left;
}
.footer-sub-2 ul li{
    list-style: none;
    
}
.footer-sub-2 ul li a{
    text-decoration: none;
    color: black;

}
.footer-sub-2 ul li a:hover{
    color: #1aaa1a;
    text-decoration: underline;
}
.footer-sub-3{
    width: 35px;
    float: left;
}